streamlit==1.32.0
pyngrok==7.5.0
python-dotenv==1.0.1

# LangChain stable bundle
langchain==0.2.16

# avoid Rust compilation issues
tokenizers==0.19.1

# LLM & routing
replicate==1.0.7
semantic-router==0.1.12

nest-asyncio==1.6.0
praw==7.7.1
cohere==5.5.0
